# FastF1 cache
cache/
fastf1_cache/

# R history data
*.RData
*.Rhistory

# R renv library
renv/library/
renv/staging/

# Model outputs
data/
outputs/
plots/*
!plots/predicted_grid_Spanish_Grand_Prix.png

# Python
__pycache__/
*.pyc
.env
