# FastF1 cache
cache/
fastf1_cache/

# R history data
*.RData
*.Rhistory
.Rproj.user

# R renv library
renv/library/
renv/staging/

# Model outputs
data/
outputs/
plots/*
!plots/predicted_grid_2025_Spanish_Grand_Prix.png
!plots/evaluated_grid_2025_Spanish_Grand_Prix.png

# Python
__pycache__/
*.pyc
.env

# Docs
docs/vignettes/*
!docs/vignettes/*.md
!docs/vignettes/*/